.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container circle:focus{
  outline:none;
}
.svgText{
  font-size:36px;
  user-select: none;
  text-anchor: middle;
  transition:all .5s;
}
.tabla, .tabla *{
  border: 1px solid black;
}
.tabla *{
  height: 30px;
}

.tabla {
  
  border-collapse: collapse;
}
.tabla td{
  min-width: 52px;
  text-align: center;
}
.tablaContainer{
  overflow-x:auto;
}
.tabla .tdTrue{
  background-color: green;
}
.tabla .tdFalse{
  background-color: red;
}
.accion{
  position: absolute;
  top: 0;
}
/* .tooltip{
  color: #fff;
  background: #222;
  border: 1px solid transparent;
}
.tooltip::after{
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  bottom: -6px;
  left: 50%;
  margin-left: -8px;
  border-top-color: #222;
  border-top-style: solid;
  border-top-width: 6px;
} */