.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.svgText{
  font-size:36px;
  user-select: none;
  text-anchor: middle;
  transition:all .5s;
}